body{
    background-color: rgb(201, 198, 202) !important;
}
main{
    width: 100%;
/* display: inline-flex; */
background-color: rgb(201, 198, 202);
}




#article{
    
    width: 100%;
  
    background-color: rgb(201, 135, 240);
}
